<!DOCTYPE html>
<html>
    <head>
        <title>HS Stones</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheets/main.css">
        
    <!--class="lead"-->
    <!--class="display-3"-->
     </head>
    <body>
        
        <!--jumbotron-->
        <header class="jumbotron">
            <div class="container">
                <h1>HS Stones</h1>
                <p>Custom Jewelry For Any Occasion!!</p>
            </div>    
        </header>
        
        <!--navbar-->
        <nav>
        	<a href="/home">Home</a>
        	<a href="/gallery">Gallery</a>
        	<a href="/about">About</a>
        	<a href="/contactus">Contact Us</a>
        	<a href="/admin" display: none>admin</a>
        </nav>
    